fastapi
uvicorn
python-dotenv
pdfplumber
requests
supabase
resend
python-multipart
pydantic
numpy
tenacity
httpx
openai
redis
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
sentence-transformers==2.7.0
pydantic-settings