# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Project Specific
.env
.env.local
backend/.env
backend/backend.log
backend/uploads/
backend/__pycache__/
**/__pycache__/
**/*.pyc

# Scratch Scripts
test-api.js
test-live.js
test_db.py
create_cv.py
get_schema.js
create_admin.py
mini_test.py
test_main_api.py
test_storage_upload.py
Alex_Mercer_Stacked_CV.pdf
public/Alex_Mercer_Stacked_CV.md
